<div class="row">
  <div class="small-12 columns text-center">
    <h1>Guess Who!</h1>
  </div>
</div>
<br />
<div class="row">
  <div class="small-12 columns text-center">
    <% test = Member.all.reject{|m| m == @random_member}.map{|m| m}.sample(3) << @random_member %>
    <%= image_tag @random_member.photo_url %>
  </div>
</div>

<p></p>
<div class="row">
  <div class="small-12 columns text-center">
    <ul>
      <% test.shuffle.each do |member| %>
      <!-- <li><%#= link_to member.full_name, games_path(guess: member) %></li> -->

      <li>
        <%= link_to member.full_name, games_path(guess: member), { class: 'button'} %>
      </li>

    <% end %>
    </ul>
  </div>
</div>
