<h1>Guess Who! - Learn Names</h1>
<br/>

<!--
  simple_form_for @review, url: url_for(action: 'create', controller: 'reviews', method: 'post')
-->
<% test = @name_options = Member.all.reject{|m| m == @random_member}.map{|m| m}.sample(3) << @random_member %>

<%= @random_member.full_name %>

<% test.shuffle.each do |member| %>
  <%= link_to member.full_name, games_path(guess: member) %>
<% end %>

<!--  url: url_for(action: 'create', controller: 'reviews', method: 'post') do -->
<!--
<#% test = [@random_member.full_name, 'hello', 'final item'] %>
@member = random_member
@name_options = Member.all.reject{|m| m == @member}.map{|m| m.full_name}.sample(3) << @member.full_name
 -->
