<h1>INDEX PAGE</h1>

<!-- Check for current user fails -->
<%# if user.uid.exists? %>

 <%#= link_to 'Sign Out', logout_path %>
<%# else %>
  <%= link_to 'Sign In With GitHub', '/auth/github' %>
  <br><br>
  <%= link_to 'Add Member', new_member_path %>
<br><br>
<%= link_to 'Play Game', games_path %> <!-- , method: :post  -->

<%# end %>
